@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #006754;
}

.login-form {
    width: 360px;
    margin: 0 auto;

    h1 {
        text-align: center;
        color: white;
        font-size: 28px;
        padding: 20px 0 20px 0;
    }

    input[type="password"] {
        width: 100%;
        padding: 15px;
        border: 1px solid #dddddd;
        margin-bottom: 15px;
        box-sizing: border-box;
        font-size: 18px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 15px;
        background-color: #535b63;
        border: 0;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
        font-size: 18px;
    }
}